:root {
  /* colors */
  --desaturated-blue: #1d1e35;
  --dark-grayish-blue: #4a4b5e;
  --grayish-blue: #787887;
  --light-grayish-blue: #e7e7e9;
  --gradient-to: rgba(101, 101, 231, 1);
  --gradient-from: rgba(175, 103, 233, 1);
  --soft-red: #f47c57;
}

body {
  background: linear-gradient(180deg, var(--gradient-from) 0%, var(--gradient-to) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

